@use './variable.scss' as v;

:root{
    --sidebar-width: 12rem;
}

// This contains any custom css besides bulma
html {
    overflow-y: auto;
}

body {
    color: v.$font-color;
}

.sidebar {
    // padding-left: calc(#{v.$padding} - 0.75rem);
    // padding-right: calc(#{v.$padding} - 0.75rem);
    position: absolute;
    margin-top: 1.25rem;

    .category-header {
        padding: 0.5em 0.75em;
    }

    .menu {
        position: fixed;
        width: var(--sidebar-width);
        max-width: inherit;
    }

    .menu-list a {
        font-size: 0.875rem;
        line-height: 24px;
        color: v.$font-dark-color;
    }
    .sidebar-toggle{
        width: var(--sidebar-width);
    }
}

.sidebar:before {
    content: "";
    background-color: v.$darker-color;
    width: var(--sidebar-width);
    position: fixed;
}

.sidebar,
.sidebar:before {
    top: 0;
    bottom: 0;
    left: 0;
}

.main {
    margin-left: var(--sidebar-width);
    position: relative;
    padding-left: v.$padding;
    padding-right: v.$padding;
    margin-top: v.$header-height;

    header {
        line-height: 18px;

        h2 {
            font-size: 24px;
            font-weight: 600;
            padding-bottom: 0.5rem;
        }

        hr {
            background-color: transparent;
            border-top: 1px solid v.$lighter-color;
        }

        small {
            color: v.$font-dark-color;
            text-align: right;
        }
    }
}

.main:before {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: -2;
    left: 0;
    right: 0;
    background-color: v.$dark-color;
}

.sidebar,
.main {
    padding-top: v.$padding;
}

.navbar {
    box-shadow: 0px 0px 21px v.$darker-color;
}

.navbar.is-compressed > * > * > .logo-text{
    display: none;
}

.logo {
    width: calc(var(--sidebar-width) + 2rem);
    background-color: v.$highlight-color;
    margin-right: calc(#{v.$padding} - 0.75rem);
    padding-left: v.$padding;
}

.box {
    hr {
        background-color: v.$lighter-color;
    }
}

.box.transparent {
    background-color: transparent;
}

.box.accent {
    background-color: v.$highlight-color;

    .subtitle {
        color: v.$font-color;
    }
}

.statcard {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;

    .statcard-number {
        font-size: 2rem;
        font-weight: 300;
        line-height: 1.125;
    }

    .statcard-desc {
        font-size: 85%;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: v.$font-dark-color;
    }

    .delta-indicator {
        display: inline-block;
        padding: .4em;
        font-size: 12px;
        vertical-align: middle;
    }

    .delta-indicator:after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 2px;
        margin-left: 2px;
        vertical-align: middle;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
    }

}

/* overwrite bulma, try to resolve with variables */

.box {
    background-color: v.$lighter-color;
    box-shadow: none;
    border-radius: 3px;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.title,
.tile {
    color: v.$font-color;
}

.subtitle {
    color: v.$font-dark-color;
}

.navbar-item.is-tab:hover {
    background-color: transparent;
    border-bottom-color: v.$font-dark-color;
}

.navbar-item.is-tab {
    border-bottom: 3px solid transparent;
    min-height: 3.25rem;
    padding-bottom: calc(0.5rem - 1px);
}

a.navbar-item:hover {
    color: v.$darker-color;
}

.breadcrumb li+li::before,
.breadcrumb li a {
    color: v.$font-darker-color;
}

.breadcrumb li a:hover,
.breadcrumb li.is-active a {
    color: v.$font-color;
}

.tabs ul {
    border-bottom-color: v.$font-darker-color;
}

.tabs li.is-active a {
    border-bottom-color: v.$font-color;
    color: v.$font-color;
}

.tabs a {
    border-bottom-color: v.$font-darker-color;
    color: v.$font-dark-color;
}

.tabs a:hover {
    border-bottom-color: v.$font-color;
    color: v.$font-color;
}

.pagination-link,
.pagination-next,
.pagination-previous {
    border-color: v.$font-dark-color;
    color: v.$font-dark-color;
}

.pagination-link.is-current,
.pagination-link:hover,
.pagination-next:hover,
.pagination-previous:hover {
    background-color: transparent;
    border-color: v.$font-color;
    color: v.$font-color;
}
