$font-color: #ffffff;
$font-dark-color: #949ba2;
$font-darker-color: #5b646d;
$highlight-color: #ffa500;
$main-color: #2e323b;
$label-color: $font-color;
$menu-item-active-color: #fff !important;

$light-color: lighten($main-color, 3%);
$dark-color: darken($main-color, 3%);
$lighter-color: lighten($main-color, 6%);
$darker-color: darken($main-color, 6%);

$gradient-color-start: $light-color;
$gradient-color-end: $dark-color;

$header-height: 2.25rem;
$padding: 2rem;
